.bal-container{
    margin: .8em;
    background-color: #ffffff;
    position: relative;
    height: calc(100% - 1.5em) ;
    border-radius: 1em;
    padding: 0.8em .5em;
    overflow-y: scroll;
    //overflow-x: scroll;
    display: grid;
}