div.bid-row{
    padding: 1em;
    background-color: #ffffff;
}

.bid-row{
    margin: .5em;
    border-radius: 1em !important;
    font-weight: 600;
}

.bid-history{
    min-height: 10%;
    max-height: 75%;
    overflow-y:hidden;
    
}
