div.bid-row{
    padding: 1em;
    background-color: #ffffff;
}

.bid-row{
    margin: .5em;
    border-radius: 1em !important;
    font-weight: 500;
}

.bid-history{
    min-height: 40vh;
    max-height: 40vh;
    overflow-y:hidden;
    
}
